<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>UChicago Planner</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UChicago Planner">
    <meta name="author" content="team_arthur">

    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <script src="jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<style>
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
.left {
    width: 100px;
    float: left;
}
.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li a {
    display: block;
    line-height: 3em;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
}
</style>

<body>
    <nav id="mainNav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="left">
            <div class="navbar-header">
            
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ex-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <a class="navbar-brand" href="#">UChicago Planner</a>
            </div>

            <!--<div class="collapse navbar-collapse" id="ex-navbar-collapse">-->
                <ul class="nav navbar-nav">
                     <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page1</a></li>
                    <li><a href="#">Page2</a></li>
                    <li><a href="#">Page3</a></li>
                    <!--<li>
                        <a class="page-scroll" href="">Button1</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Button2</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Button3</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Button4</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}</div>
    {% for u in users %} User {{u.id}}: {{ u.username }}
    <br> {% endfor %}
    <script src="js/scripts.js"></script>

</body>

</html>