{% extends "index.html" %} 

{% block title %}View{% endblock %} 

{% block content %}
 
  <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>UChicago Planner</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">more text</p>
          </div>
        </div>
      </div>
    </header>

 <!-- Intro Header 
<header class="masthead text-center">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">UChicago Planner</h1>
                </div>
            </div>
        </div>
    </div>
</header> -->
{% endblock %}